# 1. PostgreSQL & TimescaleDB Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secrect_password
POSTGRES_DB=energy_db
POSTGRES_HOST=localhost   
POSTGRES_PORT=5432

# 2. Client Authentication
MQTT_USER=admin
MQTT_PASSWORD=your_secrect_password
MQTT_HOST=localhost       
MQTT_PORT=1883
MQTT_TOPIC=energy/meters/#
MQTT_Client_ID=database_ingestion_service

# 3. Simulation Parameters
NUM_METERS=1000
PUBLISH_INTERVAL_SEC=300
HISTORICAL_WEEKS=4